html{
  height:100%
}
body{
  background-image: url("img/fotopita.png");
  height: 100%;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
img {
  width: 100%;
  max-width: 100px; /* Puedes ajustar el valor máximo según tus necesidades */
  height: auto;
  margin-top:20%;
 
}
h1 {
  color: #f0eaea;
  opacity: 0;
  font-size:40px;
  animation: fadeIn 2s ease-in-out forwards;
}
p{
  font-size:20px;
  color: #ffffff;
  margin-bottom: 20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 2%;
}

/* Responsive Styles */


@media only screen and (min-width: 750px) {
  /* Agrega aquí tus estilos responsive para dispositivos móviles */
  .container {
    padding-top: 10%;
  }
  
  img{
    width:15%;
    margin-top:10px;
  }

   body{
  height: 100%;
}
h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

button {
  font-size: 16px;
  margin-top: 10%;
}
}